# Variable

In [7]:
var_str = 'This is string data'
var_int = 123
var_bool = True

In [8]:
print(type(var_str))
print(type(var_int))
print(type(var_bool))

<class 'str'>
<class 'int'>
<class 'bool'>

# Function

In [9]:
def sum(x, y):
    return x+y

In [1]:
def sum(left, right):
    result = left + right
    return result

In [10]:
x = 2
y = 3
sum(x, y)

5

# Class

In [11]:
class Calculator():
    def add(self, x, y):
        return x+y

    def sub(self, x, y):
        return x-y

    def mul(self, x, y):
        return x*y

    def div(self, x, y):
        return x/y

In [14]:
cal = Calculator()

p = 4
q = 5

print(cal.add(p, q))

9

# Data Structure

In [14]:
# List
names = ['Peter', 'Tom', 'Cindy']

# Tuple
score_peter = ('Peter', 'A0')
score_tom = ('Tom', 'B+')
score_cindy = ('Cindy', 'A+')

# Dictionary
scores = {'Peter': 'A0',
          'Tom': 'B+',
          'Cindy': 'A+'}

In [21]:
# List의 값은 바꿀 수 있음
names[1] = 'Jack'
print(names)

['Peter', 'Jack', 'Cindy']

In [23]:
# Tuple의 값은 바꿀 수 없음
score_tom[1] = 'A+'

TypeError: 'tuple' object does not support item assignment

In [23]:
# Dict는 키(Key)로 데이터에 접근할 수 있음
print(scores['Tom'])

B+

# Basic Functions

1부터 10까지의 정수를 작은 순서대로 출력하라

In [28]:
print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)
print(10)

1
2
3
4
5
6
7
8
9
10

In [29]:
for i in [1,2,3,4,5,6,7,8,9,10]:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [27]:
for i in range(1,11): #1이상 11미만
    print(i)

1
2
3
4
5
6
7
8
9
10

1부터 10까지의 정수 중 짝수를 작은 순서대로 출력하라

In [28]:
print(2)
print(4)
print(6)
print(8)
print(10)

2
4
6
8
10

In [29]:
for i in [2,4,6,8,10]:
    print(i)

2
4
6
8
10

In [ ]:
for i in range(1,11):
    if i % 2 == 0: #2로 나눈 나머지가 0이라면
        print(i)

In [39]:
for i in range(2, 11, 2): #2이상 11미만 2씩 증가
    print(i)

2
4
6
8
10

1부터 10까지의 정수 중 짝수를 작은 순서대로 출력하고, 홀수는 3을 곱하여 출력하라

In [40]:
for i in range(1,11):
    if i % 2 == 0:
        print(i)
    else:
        print(i*3)

3
2
9
4
15
6
21
8
27
10

# Assignment

[1] 1부터 30까지의 정수 중 3의 배수를 작은 순서대로 출력하라

[2] 1부터 30까지의 정수 중 3의 배수를 작은 순서대로 출력하고, 3의 배수가 아니라면 'NO'를 출력하라

[3] 1부터 30까지의 정수 중 3의 배수를 큰 순서대로 출력하라